<section class="card checkins">
	<form name="myform"
	ng-submit="addCheckin()"
	novalidate >
		<div class="textintro">
			<h1>Check in</h1>
			<p>Fill out this form to check-in or go
			<a ng-href="#/meetings"> back to meetings</a></p>
			<p ng-show="message" class="error formerror">{{ message}}</p>
		</div>
		<fieldset>
			<input type="firstname" name="firstname" placeholder="First Name" ng-model="user.firstname" ng-required="true">
			<p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">Must be valid</p>
			<input type="lastname" name="lastname" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
			<p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Must be valid</p>
			<input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
			<p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Must be valid</p>

		</fieldset>

		<button ng-disabled="myform.$invalid" type="submit" class="btn">Check-in</button>

	</form>
</section>